.blog-post {

  .right-side-blog {
    position: relative;
  }

  .delete-btn {
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: $themePrimary;
    border-radius: 0;
    border-color: $themePrimary;
    width: 80px;
    height: 25px;
    font-size: 12px;
    padding: 0px;
    color: #fff;
  }
}